@media (prefers-color-scheme: dark) {

}

@media screen and (min-width: 600px) {        
    .product-column {
       display: flex!important;
       width: 100%!important;
       padding: 0.5em;
    }
   }

.cta:hover {
font-size: 1.3em;
}

