<div class="all-products" style="display: table; width: 100%;">
    <!--first column-->
    <div class="product-column" style="width: 100%;"><!--add display:table-cell to media query-->
      <!--first product-->
      <div class="product" style="display: table; width: 100%">
        <div style="display:table; width: 100%;">
          <img src="" alt="" width="" height="">
        </div>
        <div style="display:table; width:50%; margin: 0 25%;">
          <div class="description-column" style="display: table-cell; text-align: left;">
            <p>
              Product Name
            </p>
          </div>
          <div class="description-column" style="display: table-cell; text-align: right;">
            <p>
              Price
            </p>
          </div>
        </div>
        <div class="spacer" style="line-height:50px;height:50px;">&nbsp;</div>
      </div>
      <!--second product-->
      <div class="product" style="display: table; width: 100%">
        <div style="display:table; width: 100%;">
          <img src="" alt="" width="" height="">
        </div>
        <div style="display:table; width:50%; margin: 0 25%;">
          <div class="description-column" style="display: table-cell; text-align: left;">
            <p>
              Product Name
            </p>
          </div>
          <div class="description-column" style="display: table-cell; text-align: right;">
            <p>
              Price
            </p>
          </div>
        </div>
      <div class="spacer" style="line-height:50px;height:50px;">&nbsp;</div>
      </div>
  </div>
  <!--second column-->
  <div class="product-column" style="width: 100%;">
  <!--third product-->
  <div class="product" style="display: table; width: 100%">
    <div style="display:table; width: 100%;">
      <img src="" alt="Product Name" width="" height="">
    </div>
    <div style="display:table; width:50%; margin: 0 25%;">
      <div class="description-column" style="display: table-cell; text-align: left;">
        <p>
          Product Name
        </p>
      </div>
      <div class="description-column" style="display: table-cell; text-align: right;">
        <p>
          Price
        </p>
      </div>
    </div>
    <div class="spacer" style="line-height:50px;height:50px;">&nbsp;</div>
  </div>
  <!--fourth product-->
  <div class="product" style="display: table; width: 100%">
    <div style="display:table; width: 100%;">
      <img src="" alt="Product Name" width="" height="">
    </div>
    <div style="display:table; width:50%; margin: 0 25%;">
      <div class="description-column" style="display: table-cell; text-align: left;">
        <p>
          Product Name
        </p>
      </div>
      <div class="description-column" style="display: table-cell; text-align: right;">
        <p>
          Price
        </p>
      </div>
    </div>
  </div>
</div>