* {
    max-width: 600px;
}

header {
    background-color: #293449;
    color: white;
    font-size: 11px;
    text-align: center;
}

header span {
    margin-top: 0.5em;
}

body {
    background-color: #d5dbe6;
    color: #293449;
    text-align: center;
    font-size: 13.6px;
    /*
    background-image: url('local_florist.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    */
}

h1 {
    font-size: 60.2px;
}

.yoga {
    height: 320px;
    width: 100%
}

.bg {
    position: relative;
    overflow: hidden;
    height: 577px;
    margin: 0 auto;
}

.bg-flower {
    position: absolute;
    width: 653px;
    height: 577px;
    z-index: -1;
    opacity: 0.1;
    top: 672px;
    left: 0px;
    overflow: hidden;
}

footer {
    font-size: 13.6px;
    display: flex;
    justify-content: space-between;
}

button {
    color: white;
    background-color: #293449;
    border-radius: 2em;
    padding: 1em 3em;
}

a {
    text-decoration: none;
    color: #293449;
}

